<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#ff0000" />

    <title>trolled!</title>

    <meta property="og:site_name" content="YouTube" />

    <meta name="description" content="" />
    <meta property="og:description" content="" />
    <meta
            property="og:title"
            content="SKIBIDI TOILET Movie (2025) | FIRST LOOK"
    />
    <meta property="og:type" content="video.movie" />
    <meta property="og:locale" content="en_US" />
    <meta
            property="og:image"
            content="https://{{host}}/f/d02b44610d8149c4becf/?dl=1"
    />
    <meta
            property="og:image:secure_url"
            content="https://{{host}}/f/d02b44610d8149c4becf/?dl=1"
    />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:video:type" content="video/{{ext}}" />
    <meta property="og:video:width" content="1920" />
    <meta property="og:video:height" content="1080" />
    <meta
            property="og:video"
            content="/{{id}}/file.{{ext}}"
    />
    <meta
            property="og:video:secure_url"
            content="/{{id}}/file.{{ext}}"
    />

    <link
            rel="alternate"
            type="application/json+oembed"
            href="https://www.youtube.com/oembed?format=json&amp;url=https://www.youtube.com/watch?v=NNyRED1pOD0"
            title="SKIBIDI TOILET Movie (2025) | FIRST LOOK"
    />
    <link
            rel="alternate"
            type="text/xml+oembed"
            href="https://www.youtube.com/oembed?format=xml&amp;url=https://www.youtube.com/watch?v=NNyRED1pOD0"
            title="SKIBIDI TOILET Movie (2025) | FIRST LOOK"
    />
    <meta
            http-equiv="refresh"
            content="0; url=https://www.youtube.com/watch?v=dQw4w9WgXcQ"
    />
</head>
<body></body>